#Ignorar las carpetas de cheakpoints
**/.ipynb_checkpoints/
proyecto_final_ws/build/
proyecto_final_ws/install/
proyecto_final_ws/log/
proyecto_final_ws/build/
proyecto_final_ws/install/
proyecto_final_ws/log/
proyecto_final_viejo/build/
proyecto_final_viejo/install/
proyecto_final_viejo/log/
